/*MEDIA QUERIES - TABLET*/
@media all and (min-width: 600px){
	header {
		padding: 0 45px;
	}
	.redesList {
		flex-direction: row;
		background: none;
		align-self: center;
		margin: 0;
		li {
			padding: 0;
			margin-left: 10px;
		}
	}
	footer {
		.footerInfo{
			.redesList {
				display: flex;
				justify-content: center;
				padding: 0;
				li {
					margin-right: 10px;
					margin-left: 0;
				}
			}
		}

	}

	.grilla {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
		grid-row-gap: 2rem;
	}

}

@media all and (min-width: 768px){
	.dosColumnas {
		display: flex;
		text-align: left;
		align-items: center;
		.primerCol {
			min-width: 365px;
			.primerCol img{
				max-width: 365px;
			}
		}
		.segundaCol {
			padding-left: 45px;
		}
	}

	h1 {
		font-size: 3rem;
		text-align: left;
	}
	h3 {
		font-size: 2.5rem;
	}
	footer {
		.footerPlay iframe {
			height: 100px;
		}
		.footerInfo {
			padding: 15px;
			text-align: center;
		}
	}
	.carousel-item {
		height: calc(100vh - 5em);
		padding-top: 100px;
	}
	.carousel-control-next, .carousel-control-prev {
		display: flex;
	}
	.indexMain {
		h1 {
			font-size: 2.5em;
		}
	}
	.contenidoEstreno{
		display: flex;
		align-items: center;
		text-align: left;
	}
	.imgEstreno {
		display: block;
		width: 37%;
		margin-right: 2rem;
	}
	.txtEstreno {
		float: left;
		width: 60%
	}
	.grilla {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/*MEDIA QUERIES - REPRODUCTOR FOOTER*/

@media all and (min-width: 859px){
	footer {
		.footerPlay iframe {
			height: 161px;
		}
	}

}
/*MEDIA QUERIES - DESKTOP*/

@media all and (min-width: 1200px){
	#menuPrincipal {
		display: block;
		position: relative;
		transform: translateY(0);
		height: auto;
		width: auto;
		margin: 0;
		background: none;
		li {
			display: inline-block;
			margin-right: 10px;
			padding: 0;
			text-align: left;
		}
	}
	#abrirMenu, #menuPrincipal li.menuHome, #menuPrincipal li.menuClose {
		display: none;
	}
	.seccion {
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
	}
}
