$color-claro: #fff;
$color-oscuro: #22073d;
$color-detalle: #ffa500;
$color-detalle-b: #ffef00;
$back-oscuro: #2b1b3a;
$back-gradient: linear-gradient(180deg, #1f033a 10%, #432b59 100%);
$back-gradient-redes: linear-gradient(to left, #230734 -162%, rgba(35,7,52,0) 50%);
$font: 'Arvo', sans-serif;
$font-light: 100;
$font-regular: 400;
$font-bold: 700;
$transition: all 250ms ease-in-out;

$back-img-slide-uno: url(../media/backgrounds/back-fightclub-1920.jpg);
$back-img-slide-dos: url(../media/backgrounds/back-totoro-1920.jpg);
$back-img-slide-tres: url(../media/backgrounds/back-fightclub-1920.jpg);

$font-weight:(
	"thin": 100,
	"regular": 400,
	"bold": 700)
;